<section class="card__form">
  <div class="container">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form__content">
        <input type="text" formControlName="numberCard" class="form__content-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.numberCard.errors }" />
        <label class="form__label" for="numbercard">Número do cartão</label>
        <div *ngIf="submitted &amp;&amp; registerForm.controls.numberCard.errors" class="text-danger">
          <span *ngIf="registerForm.controls.numberCard.errors.required">Número de cartão inválido</span>
        </div>
      </div>

      <div class="form__content">
        <input type="text" formControlName="nameCard" class="form__content-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.nameCard.errors }" />
        <label class="form__label" for="name_card">Nome (igual ao cartão)</label>
        <div *ngIf="submitted &amp;&amp; registerForm.controls.nameCard.errors" class="text-danger">
          <span *ngIf="registerForm.controls.nameCard.errors.required">Insira seu nome completo</span>
        </div>
      </div>

      <div class="form__content-group flex align__center">

        <div class="form__content">
          <input type="text" formControlName="expiredCard" class="form__content-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.expiredCard.errors }" />
          <label class="form__label" for="valid_card">Validade</label>
          <div *ngIf="submitted &amp;&amp; registerForm.controls.expiredCard.errors" class="text-danger">
            <span *ngIf="registerForm.controls.expiredCard.errors.required">Data inválida</span>
          </div>
        </div>

        <div class="form__content">
          <input type="text" formControlName="cvvCard" class="form__content-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.cvvCard.errors }" />
          <label class="form__label" for="cvv">
            CVV
           <span class="tooltip__info">
            <span class="tooltip__info-icon"></span>
            <span class="tooltip__info-text">Os 3 dígitos na parte de trás do cartão</span>
           </span>
          </label>
          <div *ngIf="submitted &amp;&amp; registerForm.controls.cvvCard.errors" class="text-danger">
            <span *ngIf="registerForm.controls.cvvCard.errors.required">Código inválido</span>
          </div>
        </div>
      </div>

      <div class="form__content">
        <select formControlName="installmentCard" class="form__content-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.installmentCard.errors }">
          <option value="">Número de parcelas</option>
          <option value="">1x R$12.000,00 sem juros</option>
          <option value="">2x R$6.000,00 sem juros</option>
          <option value="">3x R$4.000,00 sem juros</option>
          <option value="">4x R$3.000,00 sem juros</option>
          <option value="">5x R$2.400,00 sem juros</option>
          <option value="">6x R$2.000,00 sem juros</option>
          <option value="">7x R$1.714,28 sem juros</option>
          <option value="">8x R$1.500,00 sem juros</option>
          <option value="">9x R$1.133,33 sem juros</option>
          <option value="">10x R$1.200,00 sem juros</option>
          <option value="">11x R$1.090,90 sem juros</option>
          <option value="">12x R$1.000,00 sem juros</option>
        </select>
        <span class="angle__down"></span>
        <div *ngIf="submitted &amp;&amp; registerForm.controls.installmentCard.errors" class="text-danger">
          <span *ngIf="registerForm.controls.installmentCard.errors.required">Insira o número de parcelas</span>
        </div>
      </div>
      <button type="submit" class="btn__default">Continuar</button>
    </form>
  </div>
</section>
