@import '../../sass/abstracts/variables';
.back{
  background: transparent;
}
.btn{
  &__default{
    width: 100%;
    font-size: 17px;
    color: $white;
    background-color: $red__1;
    padding: 17px 0;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    @media (min-width: 1024px){
      position: relative;
      display: block;
      max-width: 250px;
      margin-left: auto;
      overflow: hidden;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        left: -300px;
        top: 0;
        width: 100%;
        height: 100%;
        background: $gray__2;
        z-index: -1;
        transition: all .3s ease;
      }
      &:hover{
        &::before{
          left: 0;
          transition: all .3s ease;
        }
      }
    }
  }
}
